.header {
  color: white;

  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 10px;

  background-color: #222222;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.header__nav {
  max-width: 1210px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.logo {
  align-items: center;
  gap: 5px;
  display: flex;
}

.logo-text {
  font-weight: bold;
  cursor: pointer;
}


.login a{
  color: white;
  text-decoration: none;
}

.login a:hover{

  text-decoration: underline;
}

.button{
  padding: 2px 7px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
}



