.header {
  color: white;

  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 10px;

  background-color: #222222;
  position: fixed;

  top: 0;
  left: 0;
}

.header__nav {
  max-width: 1210px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.logo {
  align-items: center;
  gap: 5px;
  display: flex;
}

.logo-text {
  font-weight: bold;
  cursor: pointer;
}


.search input{
  outline: none;
  border: none;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(66,66,66, 0.6);
  border-radius: 5px;
  color: white;
}

.search input:hover, .search input:active, .search input:focus{
  background-color: rgba(66,66,66, 1);
}

