.list {
  list-style: none;
}



.list a {
  text-decoration: none;
  color: white;
  transition: all 0.2s;
}

.list li:not(:last-child) {
  margin-bottom: 6px;
}

.list a:hover, .list a:focus {
  color: #699dd8;
}


